@page "/manage-admins"

<PageTitle>Manage Admin Accounts</PageTitle>

<section class="admin-accounts-section">
    <div class="admin-accounts-container">
        <div class="data-container">
            <table class="data-table">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>ContactNumber</th>
                    <th>Role</th>
                </tr>
                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>Power User</td>
                </tr>

                <tr>
                    <td>22-2023</td>
                    <td>juantamad</td>
                    <td>password123</td>
                    <td>Juan</td>
                    <td>Tamad</td>
                    <td>juantamadjuantamadjuantamad@gmail.com</td>
                    <td>09123123123</td>
                    <td>User</td>
                </tr>

            </table>
        </div>
        <div class="update-container">
            <div class="update-fields">
                <p>ID</p>
                <input type="text" />
                <p>Username</p>
                <input type="text" />
                <p>Password</p>
                <input type="text" />
                <p>FirstName</p>
                <input type="text" />
                <p>LastName</p>
                <input type="text" />
                <p>Email</p>
                <input type="text" />
                <p>ContactNumber</p>
                <input type="text" />
                <p>Role</p>
                <input type="text" />

                <input type="button" value="Update" class="update-btn" />
                <input type="button" value="Delete" class="delete-btn" />
            </div>
        </div>
    </div>
</section>

@code {

}
