@page "/admin-home"

<PageTitle>Admin Panel</PageTitle>

<div class="admin-container center-text">
    <span class="subheading">Admin</span>
    <h1 class="primary">Dashboard</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis risus velit, vitae dignissim eros ultricies non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi metus neque, finibus a nunc ut, commodo venenatis magna.</p>
</div>

<section class="admin-dashboard-section">
    <div class="dashboard-container">
        <div class="dashboard-cards">
            <a href="/manage-admins" class="card">
                <div class="header--1 header">
                    <h1>Manage admin accounts</h1>
                </div>

                <div class="counter-container">
                    <p>Total admin account: </p><span>100</span>
                </div>
            </a>

            <a href="/manage-users" class="card">
                <div class="header--2 header">
                    <h1>Manage user accounts</h1>
                </div>

                <div class="counter-container">
                    <p>Total user account: </p><span>100</span>
                </div>
            </a>

            <a href="/manage-clubs" class="card">
                <div class="header--3 header">
                    <h1>Manage clubs</h1>
                </div>

                <div class="counter-container">
                    <p>Total clubs: </p><span>100</span>
                </div>
            </a>

            <a href="/manage-events" class="card">
                <div class="header--4 header">
                    <h1>Manage events</h1>
                </div>

                <div class="counter-container">
                    <p>Total ongoing events: </p><span>100</span>
                </div>
            </a>
        </div>

        <div class="logout-btn-container">
            <input type="button" value="Logout" class="logout-btn" />
        </div>
    </div>
</section>