<div class="footer-line"></div>
<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <a href="#" class="footer-logo">
                <img class="logo" alt="Omnifood logo" src="/images/black-logo.svg" />
            </a>

            <ul class="social-links">
                <li>
                    <a class="footer-link" href="#">
                        <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a class="footer-link" href="#">
                        <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a class="footer-link" href="#">
                        <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
                    </a>
                </li>
            </ul>

            <p class="copyright">
                Copyright &copy; <span class="year">2023</span> by Iskolaryo.<br/>
                All rights reserved.
            </p>
        </div>

        <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
                <p class="address">
                    673 Quirino Hwy, Novaliches, Quezon City, Metro Manila
                </p>
                <p>
                    <a class="footer-link" href="tel:123-123-1234">123-123-1234</a><br />
                    <a class="footer-link" href="mailto:iskolaryo@gmail.com">iskolaryo@gmail.com</a>
                </p>
            </address>
        </div>

        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="/register">Create an account</a></li>
                <li><a class="footer-link" href="/">Login</a></li>
            </ul>
        </nav>

        <nav class="nav-col">
            <p class="footer-heading">Affiliates</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">About Iskolaryo</a></li>
                <li><a class="footer-link" href="#">For Business</a></li>
            </ul>
        </nav>
    </div>
</footer>

@code {

}
