#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 1);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
 }

.menu {
    position: sticky;
    background-color: #294660;
    padding: 1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}
