<div class="nav-menu">
    <div class="nav-menu-logo">
        <a href="/home">
            <img class="logo" src="images/logo.svg" alt="Iskolaryo Logo" />
        </a>
    </div>

    <div class="nav-menu-search-bar">
        <Icon class="search-icon" Name="IconName.Search"></Icon>
        <input type="text" placeholder="Search" />
    </div>

    <div class="nav-menu-links">
        <ul class="nav-menu-list">
            <li> <a href="/home" class="nav-link">Home</a> </li>
            <li> <a href="/clubs" class="nav-link">Clubs</a> </li>
            <li> <a href="/myclub" class="nav-link">My club</a> </li>
            <li> <a href="/myevents" class="nav-link">My events</a> </li>
            <li> <a href="/profile" class="nav-link profile">Profile</a> </li>
        </ul>
    </div>

</div>

@code {

}
