.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.nav-menu-logo .logo{
    height: 3.6rem;
}

.nav-menu-search-bar {
    width: 35%;
    height: 2.7rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 100ms ease-in-out;
}

/*
.search-bar:focus-within {
    width: 450px;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: 0 3px 20px 0px purple;
}
*/

.nav-menu-search-bar .search-icon {
    height: 1rem;
    margin-left: 2rem;
}

.nav-menu-search-bar input {
    font-size: 1rem;
    border: none;
    margin-left: 1rem;
    width: 100%;
}

.nav-menu-search-bar input:focus {
    outline: none;
}

.nav-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s;
}

.nav-link.profile {
    background: #FF8533;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
}

.nav-link.profile:hover {
    background: #FF6C0A;
    color: #fff;
}

.nav-link:hover,
.nav-link:active {
        color: #FF8533;
}
