@using Microsoft.AspNetCore.Components.Authorization

<header>
    <section class="section-hero">
        <div class="hero">
            <img src="/images/hero.png" alt="Hero" class="hero-img" />
        </div>
    </section>
</header>


<main>
    <section class="section-cards">
        <div class="container center-text">
            <span class="subheading">FEATURED CLUBS</span>
            <h1 class="primary">Join a club!</h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis risus velit, vitae dignissim eros ultricies non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi metus neque, finibus a nunc ut, commodo venenatis magna.</p>
        </div>

        <div class="container grid grid--2-cols cards">

            <div class="card">
                <div>
                    <img src="/images/card.jpg" class="club-img"/>
                </div>
                <div class="club-info">
                    <p class="club-name">Club Name</p>
                    <p class="club-description">Nulla ut est posuere, porta lacus luctus, luctus augue. Integer sit amet maximus arcu, vel auctor neque.</p>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="/images/card.jpg" class="club-img" />
                </div>
                <div class="club-info">
                    <p class="club-name">Club Name</p>
                    <p class="club-description">Nulla ut est posuere, porta lacus luctus, luctus augue. Integer sit amet maximus arcu, vel auctor neque.</p>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="/images/card.jpg" class="club-img" />
                </div>
                <div class="club-info">
                    <p class="club-name">Club Name</p>
                    <p class="club-description">Nulla ut est posuere, porta lacus luctus, luctus augue. Integer sit amet maximus arcu, vel auctor neque.</p>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="/images/card.jpg" class="club-img" />
                </div>
                <div class="club-info">
                    <p class="club-name">Club Name</p>
                    <p class="club-description">Nulla ut est posuere, porta lacus luctus, luctus augue. Integer sit amet maximus arcu, vel auctor neque.</p>
                </div>
            </div>

        </div>
    </section>
</main>


@code {

}