/* Parallax Background */
.parallax-container {
    height: 40vh;
    overflow: hidden;
}

.parallax-bg {
    width: 100%;
    height: 100%;
    background-image: url("images/clubspic.png");
    background-size: cover;
    background-position: center;
}

/* Header Message */
.clubs-header-section {
    margin-top: 4rem;
}

/* Cards */
.clubs-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 6rem 8rem 6rem;
}

.featured-clubs {
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 4rem;
}

.clubs-header {
    padding: 1.5rem 2rem;
}

.featured-clubs-header {
    background: #ef476fff;
}

.featured-clubs-header p {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.clubs-list {
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.clubs-list-header {
    background: #118ab2ff;
}

.clubs-list-header p {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.clubs-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    padding: 2rem 2rem;
    transition: ease-out 0.3s;
}

.clubs-card:hover {
    background: #EEEEEE;
}

.club-icon {
    width: 52px;
    flex-shrink: 1;
}

.club-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.club-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.club-description {
    color: #ADB5BD;
}

.moderator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-left: 2px solid #ddd;
}

.moderator-picture {
    width: 52px;
    margin-left: 1rem;
}

.moderator-name {
    font-weight: 500;
}