@page "/clubs"

<PageTitle>Clubs</PageTitle>

<div class="parallax-container">
    <div class="parallax-bg"></div>
</div>

<section class="clubs-header-section">
    <div class="container center-text">
        <span class="subheading">CLUBS</span>
        <h1 class="primary">List of clubs</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis risus velit, vitae dignissim eros ultricies non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi metus neque, finibus a nunc ut, commodo venenatis magna.</p>
    </div>
</section>

<section class="clubs-section">
    <div class="featured-clubs">
        <div class="featured-clubs-header clubs-header">
            <p>Featured Clubs</p>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club Ordinary Club Ordinary Club Ordinary Club Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>
    </div>

    <div class="clubs-list">
        <div class="clubs-list-header clubs-header">
            <p>Clubs List</p>
        </div>

        <a href="#" class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </a>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>
    </div>
</section>

@code {

}