@page "/clubs"

@using Iskolaryo.Database;
@inject DatabaseAccess dbAccess;
@inject IConfiguration _config;

<PageTitle>Clubs</PageTitle>

<div class="parallax-container">
    <div class="parallax-bg"></div>
</div>

<section class="clubs-header-section">
    <div class="container center-text">
        <span class="subheading">CLUBS</span>
        <h1 class="primary">List of clubs</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis risus velit, vitae dignissim eros ultricies non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi metus neque, finibus a nunc ut, commodo venenatis magna.</p>
    </div>
</section>

<section class="clubs-section">
    <div class="featured-clubs">
        <div class="featured-clubs-header clubs-header">
            <p>Featured Clubs</p>
        </div>
        @if(featuredClubList == null)
        {
            <p>Loading...</p>
        } else
        {
            @foreach(var club in featuredClubList)
            {
                <ClubComponent Club="club" />
            };
        }

        

        @* <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div> *@
    </div>

    <div class="clubs-list">
        <div class="clubs-list-header clubs-header">
            <p>Clubs List</p>
        </div>

        @* <div href="#" class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Game Development Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>

            <a href="/club-submission"><input type="button" value="Join" class="join-btn" /></a>
        </div> *@

        @if(notFeaturedClubList == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach(var club in notFeaturedClubList)
            {
                <ClubComponent Club="club" />
            };
        }

        @* <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div>

        <div class="clubs-card">
            <img src="/images/club.svg" class="club-icon" />
            <div class="club-info">
                <p class="club-name">Ordinary Club</p>
                <p class="club-description">Lorem ipsum club</p>
            </div>
            <div class="message-count">
                <p>128 Messages</p>
            </div>

            <div class="moderator">
                <img src="images/profile.svg" class="moderator-picture" />
                <p class="moderator-name">Profile Account</p>
            </div>
        </div> *@
    </div>
</section>

@code {
    private List<Club>? featuredClubList;
    private List<Club>? notFeaturedClubList;
    protected override async Task OnInitializedAsync()
    {
        string loadFeaturedClubSQL = @"SELECT c.*, u.FirstName, u.LastName FROM club_list c INNER JOIN users.users u ON c.ModeratorID = u.ID WHERE c.isFeatured = 1; ";
        featuredClubList = (List<Club>)await dbAccess.LoadSingleJointData<Club, Member>(loadFeaturedClubSQL, (club, member) =>
        {
            Console.WriteLine(club);
            club.Moderator = member;
            return club;
        }, _config.GetConnectionString("clubs"), "ModeratorID");

        foreach(var club in featuredClubList)
        {
            Console.WriteLine(club.Moderator.Name);
        };

        string loadClubSQL = @"SELECT c.*, u.FirstName, u.LastName FROM club_list c INNER JOIN users.users u ON c.ModeratorID = u.ID WHERE c.isFeatured = 0; ";
        var notFeaturedClubEnumerable = await dbAccess.LoadSingleJointData<Club, Member>(loadClubSQL, (club, member) =>
        {
            Console.WriteLine(club);
            club.Moderator = member;
            return club;
        }, _config.GetConnectionString("clubs"), "ModeratorID");
        notFeaturedClubList = notFeaturedClubEnumerable.ToList();
        
    }
}